.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.25rem;
}

.container p {
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
}

#logo {
    cursor: pointer;
}